* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
 
.blue {
    color: red;
    text-align: center;
    background-color: black;
    width: 500px;
    margin: 50px;
    padding: 30px;
 }
 .sorry {
    color: white;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    overflow: auto;
    border: 5px solid blue;
    width: 300px;
    background-color:black ;
    padding: 10px;
    margin: 10px;
    text-align: justify;
 }
 .big {
    color: aquamarine;
    background-color: black;
    font-size: large;
    font-weight: 200;
    font-style: italic;
    border: 2px solid green;
    margin: 2px;
    text-align:center;
    margin: 40px;
    padding: 10px;
 }
 #hello1 {
   width: 150px;
   height: 20px;
   border: 1px solid black;
   background-color: blue;
   float: right;
   font-style: italic;
   list-style: circle;
 }
 #hello {
   font-style: italic;
   list-style: circle;
   color: blue;
 }
 